body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.top-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  align-items: center;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.header-menu-nav {
}

.contacts-all {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
}

.header-web {
  color: #2e2f42;
}

.contacts-nav {
  font-style: normal;
  margin-left: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.tel-mail {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.tel-mail:hover,
.tel-mail:focus {
  color: #404bbf;
}
.menu-list-nav {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-list-nav:hover,
.menu-list-nav:focus {
  color: #404bbf;
}

.my-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.solutions {
  background: #2e2f42;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.btn-service {
  display: flex;
  justify-content: center;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
a {
  text-decoration: none;
}

.feauteres-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.list-text {
  display: flex;
  gap: 24px;
}

.feauters-list {
  width: calc((100% - 72px) / 4);
}

.feauter-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.feauter-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.sect-ourteam {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

img {
  background: url("path_to_image");
}

.img-ourteam {
}

.our-team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.teams-list {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
}

.names-box {
  align-items: center;
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.ourteam-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.ourteam-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-menu {
  width: calc((100% - 48px) / 3);
  border-radius: 0px 0px 4px 4px;
}

.box-text {
  align-items: flex-start;
  text-align: left;
  gap: 8px;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  margin-bottom: 48px;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title-our {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.conteiner-logo {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.studio-end {
  color: #f4f4fd;
}
.end-page {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-end {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.our-team {
  background: #f4f4fd;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
